.App-header {
  background-color: rgb(204, 204, 204);
  min-height: 20vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.App {
  min-height: 80vh;
  max-height: 80vh;
  text-align: center;
  color: rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 248, 246);
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.button {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}
