.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 30px;
  padding: 16px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_contents {
  position: flex;
  justify-content: space-between;
}

.nav_purple {
  background: #5c16c5;
}

.nav_logo {
  position: fixed;
  max-width: 184.74px;
  height: 24px;
  left: 112px;
  object-fit: contain;
  cursor: pointer;
}

.nav_avatar {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  position: fixed;
  align-items: center;
  right: 35px;
  max-width: 35px;
}

.avatar_ball {
  position: absolute;
  bottom: 2px;
  left: 7px;
  background-color: green;
  height: 3px;
  width: 3px;
}
