.loginScreen {
  position: relative;
  height: 100%;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg)
    center no-repeat;
  background-size: cover;
}

.login_background {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.login_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: #1a0738;
  opacity: 0.8;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login_logo {
  position: fixed;
  left: 0;
  width: 150px;
  left: 20px;
  top: 20px;
  object-fit: contain;
}

.login_body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.login_body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.login_body > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.login_start {
  padding: 16px 60px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #1a0738;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
